# Compiled Object files
obj/*
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Visual studio
*.sln
*.suo
*.opensdf
*.sdf
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
ipch/*

# Dependencies
sfml/*

# Built Windows Program
bin/*
*.exe
*.dll
